h1 {
  margin-bottom: 0;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #e8e8e8;
  color: #3d3d3d;
  padding: 1rem;

  &:hover {
    color: white;
    background-color: #42545c;
  }
  &:active {
    background-color: black;
  }
}
