.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;

  &-list {
    display: flex;
  }

  &-button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    margin: 0.5em;
    padding: 0;
    height: 1.6em;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 2.2em;
    &:hover {
      color: #2c3a41;
      background-color: #e6e6e6;
      left: 0.1em;
    }
    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }

  &-badge {
    display: inline-block;
    font-size: medium;
    color: white;
    padding: 0.8em 0.7em 0.2em 0.7em;
    background-color: #405061;
    line-height: 0.8em;
    margin-right: 0.8em;
    border-radius: 4px 0 0 4px;
    align-self: center;
  }

  &-name {
    align-self: center;
    padding: 0.8em 0.7em 0.8rem 0.7em;
  }
}

.selected {
  background-color: black;
  color: white;
  &:hover {
    background-color: #505050;
    color: white;
  }
  &:active {
    background-color: black;
    color: white;
  }
}
