<h2>My Heroes</h2>
<ul class="heroes">
  <!-- *ngFor => Creates a List of Heroes  -->
  <li class="heroes-list" *ngFor="let hero of heroes">
    <button
      class="heroes-button"
      [class.selected]="hero === selectedHero"
      type="button"
      (click)="onSelect(hero)"
    >
      <span class="heroes-badge">
        {{ hero.id }}
      </span>
      <span class="heroes-name">
        {{ hero.name }}
      </span>
    </button>
  </li>
</ul>
<!-- [hero]="selectedHero" => basically props passing -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
